@use "../components/mixins" as *;
@use "../custom" as *;
#navigation {
  position: relative;
  overflow: hidden;
  nav.navbar {
    background: transparent;
    border: none;
  }
  .brand-hidden {
    display: none;
  }
  .rect-bg {
    @include backgroundTexture;
    position: absolute;
    right: -15px;
    top: -24px;
    width: 800px;
    height: 37px;
    transform: rotate(3deg);
    z-index: -90;
  }
  .navbar-toggler {
    z-index: 99;
    background-color: white;
  }
  a {
    @include transitionProperty
  }
  a:hover {
    color:$black
  }
  a.active {
    color:$black;
    font-weight: 500;
  }
}