@use '../components/mixins' as *;
@use '../custom' as *;

$base-margin-size: 6rem;
$base-container-height: 300px;

#periodos-artisticos {
  //general styles
  isolation: isolate;
  @include media-breakpoint-up(md) {
    background-color: none;
  }
  article {
    overflow: hidden;
    height: auto;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 0rem;

    .article-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
      z-index: -80;
      .image-bg {
        background-size: cover;
        background-position: center;
        z-index: 25;
        width: 100%;
        @include media-breakpoint-up(md) {
          width: 50%;
        }
      }
      .plain-bg {
        background-color: $gray-300;
        width: 100%;
        @include media-breakpoint-up(md) {
          width: 50%;
        }
      }
      .image-bg,
      .plain-bg {
        height: 300px;
        @include media-breakpoint-up(sm) {
          height: 400px;
        }
        @include media-breakpoint-up(md) {
          height: 500px;
        }
        @include media-breakpoint-up(lg) {
          height: 600px;
        }
        @include media-breakpoint-up(xl) {
          height: 700px;
        }
        @include media-breakpoint-up(xxl) {
          height: 800px;
        }
      }
    }
    .article-content {
      div.col-12 {
        height: auto;
        padding: 1rem;
        z-index: 24;
        min-height: 300px;
        @include media-breakpoint-up(sm) {
          min-height: 400px;
        }
        @include media-breakpoint-up(md) {
          min-height: 500px;
        }
        @include media-breakpoint-up(lg) {
          min-height: 600px;
        }
        @include media-breakpoint-up(xl) {
          min-height: 700px;
        }
        @include media-breakpoint-up(xxl) {
          min-height: 800px;
        }
      }
      div.col-12:nth-child(2) {
        background-color: $gray-300;
      }
    }

    //particular styles
    &.bsas {
      .image-bg {
        background-image: url(../../img/galeria/acuarelas/24-lg.jpg);
      }
    }
    &.america {
      .article-bg {
        div:nth-child(1) {
          order: 1;
          @include media-breakpoint-up(md) {
            order: 2;
          }
        }
        div:nth-child(2) {
          order: 2;
          @include media-breakpoint-up(md) {
            order: 1;
          }
        }
        .image-bg {
          background-image: url(../../img/galeria/acuarelas/51-lg.jpg);
        }
      }
      .article-content {
        div:nth-child(1) {
          order: 1;
          @include media-breakpoint-up(md) {
            order: 2;
          }
        }
        div:nth-child(2) {
          order: 2;
          @include media-breakpoint-up(md) {
            order: 1;
          }
        }
      }
    }
    &.humanidad {
      .image-bg {
        background-image: url(../../img/galeria/temperas/04-lg.jpg);
      }
    }
  }
}
