@use '../custom' as *;
@use '../components/mixins' as *;
.bio-fase {
  // outline: solid 1px red;

  .timeline {
    position: absolute;
    // background-color: aquamarine;
    // background-image: url('/img/bio/page/text/estonia-1914-02.svg');
    background-size: contain;
    // background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
    top: 10%;
    z-index: -1;
    opacity: 0.5;
  }
  &__img {
    z-index: -2;
    &--first {
      // background-color: lightcoral;
      width: 90%;
      height: auto;
      // transform: translate3d(0, 10%, 0) rotate(1deg);
      // background-image: url('/img/bio/page/alex-nino-01.jpg');
      background-size: cover;
    }
    &--second {
      background-color: lightblue;
      width: 80%;
      height: auto;
      // transform: translate3d(20%, -20%, 0) rotate(-1deg);

      // background-image: url('/img/bio/page/alex-nino-02.jpg');
      background-size: cover;
    }
  }
  &__text {
    // outline: solid 1px aliceblue;
  }
  &__text div {
    // outline: solid 1px goldenrod;
  }
}
.bio-fase-left-img {
  .timeline {
    background-position: right;
  }
  .bio-fase__img {
    &--first {
      transform: translate3d(0, 10%, 0) rotate(1deg);
    }
    &--second {
      transform: translate3d(20%, -20%, 0) rotate(-1deg);
    }
  }
}
.bio-fase-right-img {
  .timeline {
    background-position: left;
  }
  .bio-fase__img {
    &--first {
      transform: translate3d(10%, 10%, 0) rotate(-1deg);
    }
    &--second {
      transform: translate3d(0%, -20%, 0) rotate(1deg);
    }
  }
}
#estonia {
  .timeline {
    background-image: url('/img/bio/page/text/estonia-1914-02.svg');
  }
  .bio-fase__img {
    z-index: -2;
    &--first {
      background-image: url('/img/bio/page/alex-nino-01.jpg');
    }
    &--second {
      background-image: url('/img/bio/page/alex-nino-02.jpg');
    }
  }
}
#argentina {
  .timeline {
    background-image: url('/img/bio/page/text/argentina-1930.svg');
  }
  .bio-fase__img {
    z-index: -2;
    &--first {
      background-image: url('/img/bio/page/alex-llegada-argentina-01.jpg');
    }
    &--second {
      background-image: url('/img/bio/page/alex-llegada-argentina-02.jpg');
    }
  }
}
#profesor-dibujo {
  .timeline {
    background-image: url('/img/bio/page/text/buenos-aires-1938.svg');
  }
  .bio-fase__img {
    z-index: -2;
    &--first {
      background-image: url('/img/bio/page/alex-profesor-dibujo-02.jpg');
    }
    &--second {
      background-image: url('/img/bio/page/alex-profesor-dibujo-01.jpg');
    }
  }
}
#buenos-aires {
  .timeline {
    background-image: url('/img/bio/page/text/buenos-aires-1939.svg');
  }
  .bio-fase__img {
    z-index: -2;
    &--first {
      background-image: url('/img/bio/page/alex-buenos-aires-01.jpg');
    }
    &--second {
      background-image: url('/img/bio/page/alex-buenos-aires-02.jpg');
    }
  }
}
