@use '../custom' as *;
@use '../components/mixins' as *;


.btn--reset {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

.btn__custom--circle-purple {
  a {
    text-decoration: none;
    color: inherit;
  }

  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: rgba($purple-dark, 0.5);
      width: 56px;
      height: 56px;
      transition: all 0.3s ease;
    }
    span {
      position: relative;
      // font-size: 16px;
      // line-height: 18px;
      // font-weight: 900;
      letter-spacing: 0.15em;
      // text-transform: uppercase;
      vertical-align: middle;
    }
    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #111;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }
    &:hover {
      color: white;
      &:before {
        width: 100%;
        background: rgba($purple-dark, 1);
      }
      svg {
        stroke: white;
        transform: translateX(5px) scale(1.2);
        transform-origin: 'left center';
      }
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}
