@use '../components/mixins' as *;
@use '../custom' as *;
a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}
.viewport {
  // overflow: hidden; use to smooth scroll
  // position: fixed; use to smooth scroll
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-gray-300 {
  background-color: $gray-300;
}
.text-gray-300 {
  color: $gray-300;
}

//barba hooks
.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

//aspect-ratio
//from: https://css-tricks.com/aspect-ratio-boxes/
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
