.loader {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 99;
  .loader__mask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    overflow: hidden;
    .logo {
      position: relative;
      background: url('../../img/logo-firma.svg') no-repeat center;
      background-size: contain;
      width: 50rem;
      max-width: 100%;
      height: 7rem;
      span {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
